* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background: #ffffff;
}
.img-container {
    background-color: aqua; 
    /* background-image: url('Image\Career-Banner.jpg');   */
    background-size: cover;
    height: 350px;
}
img {
    width: 100%;
    height: 350px;
}
.launch-your-career {
    padding: 10px 0px;
    text-align: center;
    background-image: linear-gradient(-45deg, #ff8f1c, #ee2224);
}
.launch-your-career h1{
    margin: 2px 0px;
    color: #000000;
    letter-spacing: 0.5px;
}
.launch-your-career h1 span {
    color: #ffffff;
}
.launch-your-career h6{
    margin: 2px 0px;
    color: #ffffff;
    letter-spacing: 0.5px;
}
.launch-your-career input {
    margin: 3px 0px;
    width: 25%;
    height: 30px;
    text-align: center;
}
.card {
    display: flex;
    overflow-x: scroll;
}
.card::-webkit-scrollbar {
    display: none;
}
.card-section {
    text-align: center;
    margin: 20px 10px;
    width: 340px;
    height: 320px;
    background-color: transparent;
}
.card-section img {
    width: 320px;
    height: 200px;
    margin-bottom: 10px;
}
.card-section button {
    margin-top: 10px;
    padding: 7px 50px;
    border: 0px solid #ffffff;
    outline: none;
    border-radius: 5px;
    background-image: linear-gradient(-45deg, #ff8f1c, #ee2224);
    transition: 0.2s;
}
.card-section button:hover {
    background-image: linear-gradient(45deg, #ee2224, #ee2224);
}
.perks-gallery {
    display: flex;
    justify-content: center;
}
.perks-gallery img {
    background: linear-gradient(-45deg, #ff8f1c, #ee2224);
    margin: 0px 50px;
    width: 399px;
    height: 75px;
}
/* section {
    margin: 0px 50px;
    width: 399px;
    height: 75px;
    background: url('Image\Career-Banner.jpg');
}
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #ff8f1c, #ee2224);
    opacity: 0.7;
} */
.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2-section {
    text-align: center;
    margin: 20px 20px;
    width: 320px;
    min-height: 320px;
    background-color: transparent;
    border: 2px solid darkslategrey;
    cursor: pointer;
}
.card2-section img {
    width: 316px;
    height: 200px;
    margin-bottom: 10px;
}
.card2-section b {
    color: #ee2224;
    margin: 0px 20px;
}
.card2-section h5 {
    margin: 0px 20px;
}
.card2-section p {
    margin-top: 50px;
    margin-bottom: 20px;
}
.foot {
    background: #dce5f7;
    padding: 20px 0px 20px 60px;
}
.foot h1 {
    margin-bottom: 10px;
    background: -webkit-linear-gradient(-45deg, #ff8f1c, #ee2224);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.foot h5 {
    color: grey;
}